<a href="https://colab.research.google.com/github/RioAccountant/capstones/blob/main/V3_Capstonehelp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

File location:
https://github.com/ZacharyFry1/Capstone_Project_UFOs/blob/main/NM_UFO_DATA_ALL_LAT_LON_ADDED.csv



```
# This is formatted as code
```

#Import Essential Libraries

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 100
import re
#import gspread
#from google.colab import auth
#auth.authenticate_user()
#from google.auth import default
#creds, _ = default()
#gc = gspread.authorize(creds)
#from google.colab import drive
#drive.mount('/content/drive')

#from textblob import TextBlob
#from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.feature_extraction.text import TfidfTransformer
#from sklearn.neighbors import NearestNeighbors

In [2]:
#%%capture
#!python -m textblob.download_corpora

In [3]:
#This is a connection to the original dataset w.o lat and lon-FOR REFERENCE ONLY

#url="https://raw.githubusercontent.com/ZacharyFry1/Capstone_Project_UFOs/refs/heads/main/NM_UFO_DATA_ALL.csv"
#df=pd.read_csv(url, encoding='latin-1')

In [4]:
url="https://raw.githubusercontent.com/ZacharyFry1/Capstone_Project_UFOs/refs/heads/main/NM_UFO_DATA_ALL_LAT_LON_ADDED.csv"
ufo_df=pd.read_csv(url, encoding='latin-1')

In [5]:
ufo_df.shape

(1703, 12)

In [6]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Link         1703 non-null   object
 1   Occurred     1702 non-null   object
 2   City         1685 non-null   object
 3   State        1703 non-null   object
 4   Country      1703 non-null   object
 5   Shape        1633 non-null   object
 6   Summary      1702 non-null   object
 7   Reported     1703 non-null   object
 8   Media        82 non-null     object
 9   Explanation  22 non-null     object
 10  Latitude     1703 non-null   object
 11  Longitude    1703 non-null   float64
dtypes: float64(1), object(11)
memory usage: 159.8+ KB

In [7]:
#Look at a sample of data contained within= ufo_df.sample(40)

ufo_df.sample(40)

,Link,Occurred,City,State,Country,Shape,Summary,Reported,Media,Explanation,Latitude,Longitude
19,Open,3/2/2012 16:00,Vado,NM,USA,Unknown,WHITE OBJECT COMES OUT OF BRIGHT LIGHT IN CLOUD,3/2/2012,NaN,NaN,32.12891,-106.655144
234,Open,6/15/1997 23:00,Silver City,NM,USA,Unknown,the object had no nav. light and moved about i...,7/22/2004,NaN,NaN,32.769306,-108.280215
917,Open,12/11/2010 21:00,Albuquerque,NM,USA,Oval,Low in the ski with colored light then turned ...,12/12/2010,NaN,NaN,35.101401,-106.631867
1070,Open,7/15/1977 21:00,Albuquerque,NM,USA,Chevron,The object appeared to be a giant piece of glass.,2/24/2005,NaN,NaN,35.101401,-106.631867
445,Open,4/1/2002 23:00,Lincoln County,NM,USA,Orb,More details on the New Mexico Light Shows,6/16/2003,NaN,NaN,33.491655,-105.383356
973,Open,8/10/2006 11:00,Albuquerque,NM,USA,Cigar,Cigar Craft Cited by Sandia Mountains in Albuq...,9/24/2017,NaN,NaN,35.101401,-106.631867
1317,Open,5/4/2016 0:40,Santa Fe,NM,USA,Formation,I realized this was real when it did the flip....,5/4/2016,NaN,NaN,35.685756,-105.938613
1676,Open,6/17/2010 9:41,Los Montoyas,NM,USA,Disk,"10-15 miles S.E. of Las Vegas, New Mexico. Sil...",6/17/2010,NaN,NaN,34.9727,105.032400
1131,Open,7/21/2019 16:30,Rio Rancho,NM,USA,Oval,"For 30 min, early morning, two people saw an o...",7/28/2019,NaN,NaN,35.231041,-106.662789
766,Open,9/8/2017 18:25,Albuquerque,NM,USA,Egg,Metallic object fell from sky in front of me w...,9/9/2017,NaN,NaN,35.101401,-106.631867
1164,Open,10/1/1998 4:30,Rio Rancho,NM,USA,Fireball,Sighted during the major meteor shower last year.,3/3/1999,NaN,NaN,35.231041,-106.662789
1537,Open,12/18/2015 5:31,Taos,NM,USA,Light,The sky was dark. I saw two beams of light app...,12/18/2015,NaN,NaN,36.406326,-105.573264
1402,Open,3/12/1997 23:00,Santa Fe,NM,USA,Other,THE TIME IT TOOK PLACE WAS THE DAY BEFORE THE ...,9/29/2000,NaN,NaN,35.685756,-105.938613
1648,Open,10/15/1994 22:00,Aztec,NM,USA,Oval,Saw many oval lights zigzagging in the night s...,4/23/2019,NaN,NaN,36.82324,-107.993550
849,Open,2/10/2014 22:30,Albuquerque,NM,USA,Light,No one believes us.....,3/8/2014,NaN,NaN,35.101401,-106.631867
839,Open,3/29/2014 20:00,Albuquerque,NM,USA,Circle,7 lights hover over the Base and Sandias.,3/30/2014,NaN,NaN,35.101401,-106.631867
1581,Open,10/13/1998 2:30,Heron State Park (between Dulce and Taos),NM,USA,Changing,Watched a strange light for about an hour. Dur...,12/22/1998,NaN,NaN,36.665702,-106.690881
1583,Open,12/11/2019 22:09,Tierra Amarilla,NM,USA,Triangle,"Unlit object cast shadow on road, chased by pl...",12/15/2019,NaN,NaN,36.699157,-106.551701
1520,Open,10/7/2008 12:00,Angel Fire,NM,USA,Other,Noticed object in photo while downloading from...,10/9/2008,NaN,NaN,36.391983,-105.285453
74,Open,10/26/2022 23:27,Las Cruces,NM,USA,Sphere,3 bright spheres in triangle formation that we...,1/6/2023,Y,NaN,32.324738,-106.759443
186,Open,5/11/2006 20:30,Carlsbad,NM,USA,Light,Strange light moving by moon. ((NUFORC Note: I...,5/11/2006,NaN,NaN,32.418235,-104.230988
193,Open,7/2/1977 1:00,Carlsbad Cavrans (near),NM,USA,Egg,Orange/Reddish in color. Steady in brightness....,6/21/2012,NaN,NaN,32.418235,-104.230988
229,Open,9/22/2005 20:10,Silver City,NM,USA,NaN,my wife and i saw a half-moon shaped light eme...,9/23/2005,NaN,NaN,32.769306,-108.280215
150,Open,7/3/2002 1:45,Las Cruces,NM,USA,Cylinder,Huge bright lime green Cylinder Shaped Object,7/3/2002,NaN,NaN,32.324738,-106.759443
85,Open,8/12/2019 21:37,Las Cruces,NM,USA,Circle,I saw a small light become brighter and as it ...,8/12/2019,NaN,NaN,32.324738,-106.759443
788,Open,5/14/2016 17:50,Albuquerque,NM,USA,Unknown,My wife and i were sitting outside enjoying th...,5/15/2016,NaN,NaN,35.101401,-106.631867
1702,Open,7/1/2001 10:00,NaN,NM,USA,NaN,Possible 2nd ufo crash on same flight path as ...,7/1/2001,NaN,NaN,34.9727,105.032400
522,Open,9/13/2005 21:00,Clovis,NM,USA,Light,"UFO seen, possible govt test",9/14/2005,NaN,NaN,34.406841,-103.199641
1487,Open,10/28/2008 19:38,Medanales,NM,USA,Fireball,I saw a chartreuse green fireball with a trail...,10/30/2008,NaN,NaN,36.17617,-106.183063
1006,Open,4/5/2003 22:30,Albuquerque,NM,USA,Chevron,"Extemely large ""flying wing"" hovering above a ...",2/2/2004,NaN,NaN,35.101401,-106.631867
407,Open,8/15/2004 0:16,Roswell,NM,USA,Disk,Freaky Lights and Sound i feel very cold 10 de...,7/8/2007,NaN,NaN,33.394758,-104.523489
706,Open,2/21/2021 15:07,Albuquerque,NM,USA,Disk,Silver/dull disk with Greenish/Gold dome. Witn...,2/28/2021,NaN,NaN,35.101401,-106.631867
1412,Open,12/8/2006 21:50,Santa Fe/Glorieta,NM,USA,Rectangle,"Solid, bright white and red rectangular object...",12/8/2006,NaN,NaN,35.685756,-105.938613
26,Open,3/5/2016 17:45,"Gage (I-10, Exit 67)",NM,USA,Chevron,"Slow rotation, sationery in one place, with sl...",3/5/2016,NaN,NaN,32.226165,-108.087010
1346,Open,3/26/2013 20:00,Santa Fe,NM,USA,Light,Blue light moving very fast twice the size of ...,3/27/2013,NaN,NaN,35.685756,-105.938613
1350,Open,10/23/2012 18:45,Santa Fe,NM,USA,Light,At 6:45 pm while walking on the bike path near...,10/23/2012,NaN,NaN,35.685756,-105.938613
1216,Open,3/17/2018 18:42,Rowe,NM,USA,Orb,"On 17 March 2018, I was taking sunset photos o...",3/21/2018,NaN,NaN,35.491711,-105.674793
1384,Open,8/3/2003 23:59,Santa Fe,NM,USA,Cylinder,It was the fastest thing I had ever seen!,8/8/2003,NaN,NaN,35.685756,-105.938613
15,Open,4/15/2013 20:00,Jal,NM,USA,Light,There were a few red lights that burst to a sp...,1/23/2014,NaN,NaN,32.114844,-103.191861
493,Open,10/15/1976 15:00,Portales,NM,USA,Other,Close encounter with non-human/meta human.,11/22/2014,NaN,NaN,34.184208,-103.335009

In [8]:
#Look at those where City is null (18)-per discussion w.team leader we want to drop these if city not embedded in the summary
ufo_df["City"].isna().sum()

18

In [9]:
#More information on the null Cities
null_city = ufo_df[ufo_df["City"].isna()]
print(null_city)

      Link          Occurred City State Country     Shape  \
1685  Open    5/3/2023 23:00  NaN    NM     USA       Orb
1686  Open    4/9/2023 16:18  NaN    NM     USA  Triangle
1687  Open    1/18/2023 4:00  NaN    NM     USA   Unknown
1688  Open  11/26/2022 12:43  NaN    NM     USA      Disk
1689  Open   6/19/2022 13:20  NaN    NM     USA  Cylinder
1690  Open   5/25/2022 15:30  NaN    NM     USA     Cigar
1691  Open   5/27/2021 22:37  NaN    NM     USA  Changing
1692  Open   2/21/2021 19:18  NaN    NM     USA  Cylinder
1693  Open   4/15/2020 19:30  NaN    NM     USA     Cigar
1694  Open   9/28/2019 19:07  NaN    NM     USA  Triangle
1695  Open   7/19/2017 12:05  NaN    NM     USA     Other
1696  Open   9/15/2014 11:44  NaN    NM     USA     Cigar
1697  Open    5/23/2013 5:47  NaN    NM     USA      Disk
1698  Open    3/16/2008 3:00  NaN    NM     USA   Unknown
1699  Open     7/7/2006 0:00  NaN    NM     USA   Unknown
1700  Open   2/15/2006 14:00  NaN    NM     USA       Egg
1701  Open    8/1/2003 19:30  NaN    NM     USA     Light
1702  Open    7/1/2001 10:00  NaN    NM     USA       NaN

                                                Summary   Reported Media  \
1685            The object was an orb with light white.   5/3/2023     Y
1686         An object that sounds like a prop airplane   4/9/2023   NaN
1687                                    A Strange Light  1/18/2023   NaN
1688                      Flash of Light with Grey Disk  3/19/2023     Y
1689  After viewing photos several days later, 2 sep...  7/16/2022     Y
1690  Very fast object streaks across the sky over m...  5/26/2022     Y
1691  When the craft first appeared, it had two ligh...  5/30/2021   NaN
1692  Cruise missile looking. ((NUFORC Note: Report ...  2/21/2021   NaN
1693  3 People in 2 states witness flying cigar, dis...  4/15/2020   NaN
1694  A very slow moving triangular object was seen ...  9/28/2019   NaN
1695                                         Dark thing  9/17/2022   NaN
1696                                         See photos  1/12/2022     Y
1697  Huge disc with copper,metal,gold, and 4 bolts ...  1/12/2023   NaN
1698  Thought it was a shooting star but it kept get...  3/16/2008   NaN
1699                                  UFO's dont exsist  8/26/2006   NaN
1700  We were driving along the interstate 20/10 wes...  2/24/2006   NaN
1701  Bright light turning into a tiny red dot in th...   6/9/2009   NaN
1702  Possible 2nd ufo crash on same flight path as ...   7/1/2001   NaN

       Explanation Latitude  Longitude
1685  Planet/Star?  34.9727   105.0324
1686     Aircraft?  34.9727   105.0324
1687           NaN  34.9727   105.0324
1688           NaN  34.9727   105.0324
1689           NaN  34.9727   105.0324
1690           NaN  34.9727   105.0324
1691           NaN  34.9727   105.0324
1692           NaN  34.9727   105.0324
1693           NaN  34.9727   105.0324
1694           NaN  34.9727   105.0324
1695           NaN  34.9727   105.0324
1696           NaN  34.9727   105.0324
1697           NaN  34.9727   105.0324
1698           NaN  34.9727   105.0324
1699           NaN  34.9727   105.0324
1700           NaN  34.9727   105.0324
1701           NaN  34.9727   105.0324
1702           NaN  34.9727   105.0324

In [10]:
#Look at those where the City is erroneously coded as NM-we should drop unless we can discover a similar sighting on the same day that matches description
ufo_df[ufo_df["City"]== "New Mexico"]

,Link,Occurred,City,State,Country,Shape,Summary,Reported,Media,Explanation,Latitude,Longitude
602,Open,1/15/2015 11:00,New Mexico,NM,USA,Triangle,They have been taking me since I was little an...,1/23/2022,NaN,NaN,34.9727,105.0324
603,Open,2/2/2011 16:40,New Mexico,NM,USA,Circle,Many UFO over new mexico white and green,2/4/2011,NaN,NaN,34.9727,105.0324
604,Open,10/9/2009 23:00,New Mexico,NM,USA,Cone,colors shined where can tell the shape of the ...,10/13/2009,NaN,NaN,34.9727,105.0324
605,Open,6/4/2007 13:00,New Mexico,NM,USA,Disk,2 pictures taken from a airplane of an object ...,7/27/2007,NaN,NaN,34.9727,105.0324
606,Open,10/25/2003 13:00,New Mexico,NM,USA,Other,Pictures of a landscape in New Mexico where my...,5/11/2010,NaN,NaN,34.9727,105.0324
607,Open,6/1/1997 3:30,New Mexico,NM,USA,Disk,"on hwy 10east going to elpaso texas.,,, slow m...",4/4/1999,NaN,NaN,34.9727,105.0324
608,Open,2/21/1994 19:00,New Mexico,NM,USA,Light,flashing bright lights following 60mph auto at...,2/27/2004,NaN,NaN,34.9727,105.0324
609,Open,6/1/1989 0:00,New Mexico,NM,USA,Orb,metalic orb huvering above the ground in new m...,9/4/2008,NaN,NaN,34.9727,105.0324
610,Open,6/30/1966 0:01,New Mexico,NM,USA,Disk,followed for about 15 minutes by saucer like o...,12/17/2005,NaN,NaN,34.9727,105.0324

In [11]:
# Check the data types of the 'City' column
print(ufo_df['City'].apply(type).value_counts())

City
<class 'str'>      1685
<class 'float'>      18
Name: count, dtype: int64

In [12]:
ufo_df['City']=ufo_df['City'].apply(str)

In [13]:
#Find the unique cities in the dataset for forward cleaning
unique_cities = ufo_df['City'].unique()

In [14]:
ufo_df.shape

(1703, 12)

In [15]:
(ufo_df['City'].value_counts()/len(ufo_df)).cumsum()[110:140]

City
Mescalero Indian Reservation    0.822079
Red River                       0.823253
Navajo Lake                     0.824427
Glorieta                        0.825602
Elephant Butte                  0.826776
Hurley                          0.827951
Loco Hills                      0.829125
Algodones                       0.830299
Waterflow                       0.831474
Lamy                            0.832648
Continental Divide              0.833823
Arroyo Seco                     0.834997
Los Alamos/Pojoaque             0.835584
Tohatchi                        0.836171
La Mesilla                      0.836759
White Rock                      0.837346
Valex                           0.837933
Roy                             0.838520
Santo Domingo Pueblo            0.839107
Chupadero                       0.839695
Los alamos                      0.840282
Interstate 40                   0.840869
Zia Pueblo                      0.841456
Los Alamos (Near)               0.842043
Los Alamos (viewed from)        0.842631
Trementina                      0.843218
Rowe                            0.843805
Interstate 10                   0.844392
Pojoaque                        0.844979
Near Jemez                      0.845567
Name: count, dtype: float64

In [ ]:
pd.Series(unique_cities[:]).value_counts()

In [ ]:
type(unique_cities)

In [ ]:
# To see the output, run the following code:
unique_cities.sort()

In [ ]:
#ufo_df['City'] = ufo_df['City'].str.replace('  ( north of, mexican border)', '')
#ufo_df['City'] = ufo_df['City'].str.replace(' (west of)', '')
#ufo_df['City'] = ufo_df['City'].str.replace(' (east of)', '')
#ufo_df['City'] = ufo_df['City'].str.replace(' (north of)', '')
# ufo_df['City'] = ufo_df['City'].str.replace(' (seen from)', '')
# ufo_df['City'] = ufo_df['City'].str.replace(' (near)', '')
# ufo_df['City'] = ufo_df['City'].str.replace(' (south of)', '')

In [31]:
ufo_df['City_New'] = ufo_df['City'].str.replace(' ?\(.+\)', '', regex=True)#dupliate column for cleaning
ufo_df['City_New'] = ufo_df['City_New'].str.replace('-', 'Other')
ufo_df['City_New'] = ufo_df['City_New'].str.replace('^$', 'Other', regex=True)

In [32]:
(ufo_df['City_New'].value_counts()/len(ufo_df)).cumsum()[170:200]

City_New
Chamita                                     0.901938
Hernandez                                   0.902525
Vallecito                                   0.903112
Taos Pueblo                                 0.903699
Taos/Dulce/Santa Clara                      0.904287
El Paso and Alamogordo                      0.904874
El Paso                                     0.905461
Aztec/Farmington                            0.906048
Folsom                                      0.906635
Chama                                       0.907223
Santa Teresa                                0.907810
Raton/Des Moines                            0.908397
Four Corners                                0.908984
Capitan                                     0.909571
Desert                                      0.910159
Ft. Carson; IOther25 south                  0.910746
Highway 20                                  0.911333
Highway 371                                 0.911920
IOther10, Marker 174                        0.912507
Interstate 10                               0.913095
Interstate 40                               0.913682
Los Montoyas                                0.914269
Military training site                      0.914856
Rivera Maya                                 0.915443
Rural New Mexico                            0.916031
Sears Point                                 0.916618
Television program                          0.917205
Unknown                                     0.917792
unsure, possibly Des Moines or Grenville    0.918379
Valex                                       0.918967
Name: count, dtype: float64

In [24]:
filter=(ufo_df['City_New']=='Mt.')
ufo_df[filter]

,Link,Occurred,City,State,Country,Shape,Summary,Reported,Media,Explanation,Latitude,Longitude,City_New
1572,Open,11/8/2008 4:00,Mt. Dora,NM,USA,NaN,I seen a bright green light with a green strea...,11/10/2008,NaN,NaN,36.519395,-103.488894,Mt.

In [ ]:
unique_cities2 = ufo_df['City'].unique()

print(unique_cities2)

In [ ]:
for 'text' in 'City':

  if '(north of, mexican border), ufo_df['City'] == ''
  elif ufo_df['City'] == 'El Paso and Alamogordo (Between )mexican border', ufo_df['City'] == 'Alamagordo'
  else

   ufo_df['City']

In [ ]:
#Define function to remove text beteen parenthesis
def remove_text_between_parentheses(text):
    """Removes text between parentheses using regular expressions."""
    if isinstance(text, str):
        return re.sub(r'\([^()]*\)', '', 'no city', text)
    else:
        return text
    return text

In [ ]:
print(unique_cities)

In [ ]:
#Do we have any data redundancy within the summary?
unique_explanation = ufo_df['Explanation'].unique()

#To see the output run the following code:
print(unique_explanation)

In [ ]:
#Do we want to drop this column all together and/or just those that have question marks that leave doubt?
len(unique_explanation)

In [ ]:
#Do we have any data redundancy within the summary?
unique_content = ufo_df['Summary'].unique()

#To see the output run the following code:
print(unique_content)

In [ ]:
#Let generate a unique list of shapes
unique_shapes = ufo_df['Shape'].unique()

#To see the output run the following code:
print(unique_shapes)

In [ ]:
#Modify the Latitude datatype to ensure GEO data reads in correctly
ufo_df.Latitude = ufo_df.Longitude.astype("float")

In [ ]:
#Fill the nan with 'Other'
ufo_df['Shape'] = ufo_df['Shape'].fillna('Other')

In [ ]:
#Double check
ufo_df.info()

In [ ]:
ufo_df.dropna(subset=['Occurred'], inplace=True)

In [ ]:
#Double check
ufo_df.info()

In [ ]:
#double check to see if the nulls were removed
ufo_df['Shape'].isna().sum()

In [ ]:
#Pass to Joe-can you find the 'nan' shapes withing the description please so that we might be able to patch?
empty_shapes = ufo_df[ufo_df['Shape'].isnull()].index.tolist
print(empty_shapes)

In [ ]:
#def clean_text(shape):
  #return shape(isna)